// One
.propertyOne {
  padding: 80px 0;

  @include md {
    padding: 50px 0;
  }

  .propertySliderOne {
    .propertyCardOne {
      padding: 10px;
    }

    .owl-nav {
      width: calc(100% + 16px);
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: -8px;
      transform: translateY(-50%);

      [class*="owl-"] {
        &.owl-prev,
        &.owl-next {
          color: $textClrOne;
          background-color: $textClrThree;

          &:hover {
            color: $whiteClr;
            background-color: $mainClr;
          }
        }
      }
    }

    .owl-dots {
      margin-top: 15px !important;

      .owl-dot {
        span {
          background-color: $textClrThree;
        }

        &:hover,
        &.active {
          span {
            background-color: $mainClr;
          }
        }
      }
    }
  }
}

// Two
.propertyTwo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;

  @include md {
    padding: 50px 0;
  }

  .sectionTitle {
    color: $whiteClr;

    h3 {
      color: inherit;
    }
  }

  .propertySliderTwo {
    .owl-nav {
      justify-content: center;
      margin-top: 24px;
    }
  }
}
